{% extends '@!EasyAdmin/layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Epako</h1>
        <p>
            Welcome to Back Office.
        </p>
        <a href="{{ path('backoffice_home')}}"> Back office sans easy admin</a>
    </div>
{% endblock %}

