{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'back_office_without_easy_admin/backoffice/index.html.twig' %}

{% block title %}
    {{ exception.message }}
{% endblock %}

{% block body %}
    <div class="col-md-12 mt-4 ">
            <img src="https://cdn.pixabay.com/photo/2017/01/31/14/50/comic-characters-2024745_960_720.png" alt="" width="300">

            <h1>{{ exception.message }}</h1>


    </div>
    <div class="col-md-6 mt-4 ">

            <h2>{{ exception.statusCode }} {{ exception.statusText }}</h2>

    </div>

{% endblock %}